
@{
    ViewData["Title"] = "Full Film List";
    ViewData["PageHeading"] = "Full Film List";
 }

<section class="wrap">
@foreach (var item in Model)
{
    <div class="filmThumb">
        <p><a asp-controller="Home" asp-action="FilmDetails" asp-route-id="@item.FilmID">@item.FilmTitle</a></p>
    </div>
}
</section>
